{% extends "base.html" %}

{% block header %}
                                   
         Car Detail

{% endblock header %}

{% block content %}
<div class="card mb-3 box-shadow margin-top">
  {% comment  %}
    <img class="card-img-top" src="{{destination.pretty_picture.url}}" alt="Card image cap">
{% endcomment %}


  
  <div class="card-body  msa_margin_buttom">
    <h5 class="card-title">{{car.make}}</h5>
    <p class="card-text">{{car.model}}</p>
    <p class="card-text"><b>Year:</b> {{car.year}}</p>  

	

    <a href="{% url 'car-update' car.id %}" class="btn btn-info my-animate">Update</a>
    <a href="{% url 'car-delete' car.id %}" class="btn btn-danger my-animate">Delete</a>
   

  </div>
</div>
 {% endblock content %}

